[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
yapf = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
